<div class="wrapper-hablemos">
    <div class="box-hablemos">
        <app-mapa class="googlemap"></app-mapa>
    </div>
    <div class="box-hablemos">
        <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
            <div class="f-row-2">
                <div class="wrap-form">
                    <label for="">Nombre</label>
                    <input formControlName="nombre" type="text">
                    <div class="error-msg" *ngIf="signupForm.get('nombre').hasError('required') && signupForm.get('nombre').touched">
                        este campo es requerido
                    </div>
                </div>
                <div class="wrap-form">
                    <label for="">teléfono</label>
                    <input formControlName="telefono"  type="text">
                    <div class="error-msg" *ngIf="signupForm.get('telefono').hasError('required') && signupForm.get('telefono').touched">
                        este campo es requerido
                    </div>
                </div>
            </div>
            
            <div class="wrap-form">
                <label for="">asunto</label>
                <input formControlName="asunto" type="text">
                <div class="error-msg" *ngIf="signupForm.get('asunto').hasError('required') && signupForm.get('asunto').touched">
                    este campo es requerido
                </div>
            </div>
            <div class="wrap-form">
                <label for="">mensaje</label>
                <textarea rows="6" cols="50" formControlName="mensaje"></textarea>
                <div class="error-msg" *ngIf="signupForm.get('mensaje').hasError('required') && signupForm.get('mensaje').touched">
                    este campo es requerido
                </div>
            </div>
            <div class="wrap-form">
                <button [disabled]="signupForm.invalid3" type="submit">enviar</button>
            </div>
        </form>
    </div>
</div>

