<div class="wrapper-home">
    <div class="wrapper-title">
        <h1>
            <span @Ui>ui design</span>
            <span @Front>front.end</span>
        </h1>
        <p @Parrafo>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt nibh sit amet quam congue semper. Nunc quis congue nulla. Curabitur eu tincidunt neque, eget tincidunt urna. Donec lobortis est nec orci porta viverra.
        </p>
    </div>
    <div class="wrapper-img">
        <div class="imgyo">
            <img @Face src="../../assets/img/yo.png" alt="">
        </div>
    </div>
</div>


            