<div class="wrapper-home">
    <div class="wrapper-title">
        <h1>
            <span @Ui>ui design</span>
            <span @Front>front.end</span>
        </h1>
        <p @Parrafo>
                Hola! Yo soy Francisco.<br> Me apasiona diseñar y crear productos digitales altamente pulidos, y disfruto de equipos interdisciplinarios, te invito a ver mi trabajo, nos vemos luego!
        </p>
    </div>
    <div class="wrapper-img">
        <div class="imgyo">
            <img @Face src="../../assets/img/yo.png" alt="">
        </div>
    </div>
</div>


            