<header>
    <div class="container">
        <div class="logo">
            <a routeLink="/">
                <img src="../../assets/img/logo.svg" alt="">
            </a>
        </div>
       
        <nav>
            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="menu-container hidden-menu">
                <ul>
                    <li><a class="link-nav link active" routerLink="/">home</a></li>
                    <li><a class="link-nav link" routerLink="/proyectos">proyectos</a></li>
                    <li><a class="link-nav link" routerLink="/hablemos">hablemos</a></li>
                    <li><a class="link-nav " href="tel:958866877">+56 9 588 668 77</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>